/*Установка шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* Очистка значений по умолчанию для всех элементов */
* { 
    padding: 0; /* Очистка отступов от края контента */
    margin: 0; /* Очистка отступов от края блока */
    box-sizing: border-box; /* Размеры блоков равны границе рамки */
    font-family: 'Roboto Condensed', sans-serif;  /* Шрифт для всех элементов */
}


/* Общий стиль для блока header */
header { 
    background-color: bisque;
}


/* Стиль блока в header и его элементов через flex, для отображения их слева по центру планки */
nav { 
    /* border: 5px dashed black; */
    /* width: min-content; */
    height: inherit;
    display: flex;
    align-items: center;
}


/* Исключение декорирование */
nav > a { 
    text-decoration: none; 
    color: black;
    padding: 15px; /*Отступы от контента (текста ссылок) до края блока*/
    font-size: 100%; /*Размер текста ссылок*/
}


/* Применение позиционирования приводит к тому, что изображение и строки текста становятся в одну строку */
.about_us { 
    display: flex; 
    flex-direction: row-reverse; /* Преобразование позиционирования обратно в блоки */
}


/* Стиль всех изображений в блоке main -> div */
.about_us img { 
    width: 80%;
    object-fit: contain;
    margin: 20px 10%;
}


/* Преобразование блока всех персональных описаний человека во флекс-бокс и возвращение его к стобчатому виду */
.about_us_description {
    display: flex; 
    flex-direction: column; 
}

/* Задание отступов для вложенных блоков */
.about_us_description * {
    padding: 1%;
}

/* Стиль отображения блока div с игрой*/
.my_game { 
    display: flex;
    flex-direction: column; /* Если не указать направление флекса, то оно будет отображено в виде строки слева направо */
    /* После указания стиля в виде колонок, каждый элемент станет отображаться в виде большой планки по всей ширине*/
    max-width: 25%; /* Указание максимальной ширины для отображения элементов флекс-бокса*/
    margin: 0 auto; /* Указание выравнивания элементов*/
    justify-content: center; /* Для размещения значений элементов по центру их блоков*/
    align-items: center; /* Размещение по центру самих блоков*/
}

/* Задание всем элементам блока игры свойства размещения по центру */
.my_game > * {
    text-align: center;
}

/* Задание стиля для поля ввода input и кнопки button */
.my_game input, .my_game button {
    border: none; /* Без обводки */
    margin: 3%; /*Отступы между блоками внутренними блоками*/
}

/* Для кнопки button отдельно задается значение занимаемого пространства*/
.my_game button {
    width: max-content; /* Для занятия не всей ширины блока, а только необходимой. 
    Данное действие сдвигает элемент влево, поэтому во внешнем общем для всех элементов блоке, применяется justify-content: center */
    border-radius: 5px; /* Закругление углов кнопки*/
    background-color: rgb(255, 200, 81);
}

.my_game input {
    background-color: rgb(255, 243, 226); /*С отключенными границами поле ввода не заметно, поэтому задается цвет поля*/
    outline: none; /*Очистка внешней обводки при вводе данных */
}

/* Позиционирование элементов для выбора. Блоки должны следовать сверху вниз */
.choosed_block {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 5% 35%;
}

/* Позиционирование каждого отдельного блока */
.choosed_block_container {
    display: flex;
    gap: 10px; /* Расстояние между элементами */
    flex-wrap: wrap; /*Включение переноса блоков, чтобы они не следовали друг за другом в одну строку */
    max-width: 600px;/* Максимальная ширина на которой могут распологаться ряды*/
}

/* Задание стиля только для определенных блоков */
.choosed_block_container > div {
    width: 150px;
    height: 200px;
    display: flex; 
    justify-content: center; /* Цифры блоков размещаются по середине по горизонтали*/
    align-items: center; /* Цифры блоков размещаются по середине по вертикали*/
    background-color: rgb(255, 200, 81); /* Задание цвета каждого блока */
}   

/* Класс обводки элемента */
/* Не для присваивания какому-то элементу, а для скрипта, который станет взаимодействовать с блоком, как бы выделяя его благодаря бордеру*/
.choosed_element {
    border: 3px solid black;
}

/* Общий стиль для блока footer */
footer { 
    background-color: bisque;
    margin: 10% 35%;
}

/* Избавление от "прилипания" к левому краю */
.posts_block {
    max-width: 600px; 
    margin: 20px auto; 
}

/* Размещение блока h2 по середине */
.posts_block h2 { 
    text-align: center;
}

/* Добавление пространства между элементами */
.posts_block_container > * {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 243, 226);
}